@import "tailwindcss";


/* Font family */
@font-face {
  font-family: robotoBlack;
  src: url('../../public/fonts/Roboto-Black.ttf') format("ttf");
  font-family: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: robotoBold;
  src: url('../../public/fonts/Roboto-Bold.ttf') format("ttf");
  font-family: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: robotoMedium;
  src: url('../../public/fonts/Roboto-Medium.ttf') format("ttf");
  font-family: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: robotoRegular;
  src: url('../../public/fonts/Roboto-Regular.ttf') format("ttf");
  font-family: 400;
  font-style: normal;
  font-display: swap;
}

/* theme Tailwind  */
@theme{
  --font-robotoBlack : robotoBlack;
  --font-robotBold: robotoBold;
  --font-robotoMedium: robotoMedium;
  --font-robotoRegular: robotoRegular;

  --color-gray-light:#f5f5f5;
  --color-gray-medium:#757575;
  --color-gray-dark:#2f2f29;
  --color-primary:#3f51f4;
  --color-primary-light:#7f8fff;
  --color-accent:#ff8c34;
  --color-danger:#f44336;
  --color-danger-dark:#993333;
  --color-input: #E4E4E7;
  --color-border:#e6e6e6;
  --color-text:#060618
}
/* layer base */
@layer base {
  :root{
    --gradient-hero: linear-gradient(135deg , #3f51f4 , #7f8fff);
    --gradient-accent: linear-gradient(90deg ,#ff8c34 , #3f51f4,);
    --gradient-danger: linear-gradient(45deg ,#f44336 , #993333,);
  
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply bg-white text-text font-robotBold
  }
  .content_title{
    @apply flex justify-center items-center h-64
  }
  .title{
    @apply text-2xl text-gray-500 animate-pulse
  }
  .content_error{
    @apply flex justify-center items-center h-64
  }
  .error{
    @apply text-2xl text-red-500 font-robotoBlack font-black
  }
}

